<mat-card *ngIf="product" [class]="{'text-center': !fullWidthMode}" class="bg-blue-100" >
    <div [ngClass]="{flex: fullWidthMode}" class="bg-blue-200 rounded-xl p-5">
        <img class="mb-1 mx-auto h-[200px] rounded-xl"
        [ngClass]="{'h-200px': !fullWidthMode, 'h-[360px]': fullWidthMode}"
        src="{{product.image}}"
        />
        <div class="w-full bg-blue-200"
            [ngClass]="{'px-8 flex flex-col justify-between': fullWidthMode}">
            <div class="rounded-xl ">
              <h5 *ngIf="userService.roleMatch(['ADMIN'])">  {{ product.category + ' ' + '(id: ' + product.id + ')'}}</h5>
                <p class="truncate hover:whitespace-normal">{{ product.name }}</p>
                <p *ngIf="fullWidthMode"> {{ product.description }}</p>
            </div>
            <div *ngIf="!userService.roleMatch(['ADMIN'])" class="flex justify-between">
                <span class="text-red-600">{{ product.price | currency }} </span>
                <button (click)="onAddToCart()">
                  <mat-icon class="text-gray-500">shopping_cart</mat-icon>
                </button>
            </div>

            <div *ngIf="userService.roleMatch(['ADMIN'])" class="flex justify-between">
                <span class="text-red-600">{{ product.price | currency }} </span>
                <button (click)="onDelete(product.id)">
                  <mat-icon class="text-gray-500">delete</mat-icon>
                </button>
            </div>

         
            
        </div>

    </div>
</mat-card>

