
<mat-toolbar class="justify-between max-w-7xl mx-auto border-x rounded-xl bg-blue-200 mb-5">
  <div>{{timestamp}}</div>
  <a routerLink="home"><mat-icon fontIcon="home"></mat-icon></a>

  <a routerLink="home" class ="font-medium leading-tight text-3xl mt-0 mb-2">Store</a>
  <button *ngIf="!userService.roleMatch(['ADMIN'])" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon
      [matBadge]="itemsQuantity"
      [matBadgeHidden]="!itemsQuantity"
      matBadgeColor="warn" 
      >shopping_cart</mat-icon
    >
  </button>
  <mat-menu #menu="matMenu" class="w-[1000px]">
    <div class="p-3 divide-y divide-solid">
      <div class="pb-3 flex justify-between">
          <span class="mr-16">{{itemsQuantity}} Items</span>
          <a routerLink="cart">View Cart</a>
      </div>
   
      

      <div *ngIf="cart.items.length" class="py-3">
        <div *ngFor="let item of cart.items" class="flex justify-between font-light mb-2">
          {{item.name}}
        <span class="font-bold">{{ item.price | currency }}</span>
        </div>
      </div>
      <div class="flex justify-between py-3 font-light">
        Total:
        <span class="font-bold"> {{ getTotal(cart.items) | currency }} </span>
      </div>
      <div class="pt-3 flex justify-between">
        <button (click)="onClearCart()"
          class="bg-red-600 text-white rounded-full w-9 h-9">
          <mat-icon>remove_shopping_cart</mat-icon>
        </button>
        <button 
          routerLink="cart"
          class="bg-green-600 text-white rounded-full w-9 h-9">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
  </div>
  </mat-menu>
</mat-toolbar>
<mat-toolbar class="justify-between max-w-sm mx-auto border-x rounded-xl bg-blue-200 mb-5">
  <a *ngIf ="! isLoggedIn()" routerLink="login" class="p-3 rounded-xl hover:bg-blue-400 ">Log In</a>
  <a *ngIf ="isLoggedIn()" routerLink="home" class="p-3 rounded-xl hover:bg-blue-400 " (click)="logout()">Log Out</a>
  <a *ngIf ="! isLoggedIn()" routerLink="register" class="p-3 rounded-xl hover:bg-blue-400 ">Sign Up</a>
  <a *ngIf="userService.roleMatch(['ADMIN'])" routerLink="admin" class="p-3 rounded-xl hover:bg-blue-400 ">Admin</a>
  
  <a *ngIf ="isLoggedIn()"routerLink="profile">Profile</a>
</mat-toolbar>
