


<mat-card class="max-w-sm mx-auto bg-blue-100 p-6">
     
       

  <div class="flex flex-row">
    <form class="w-6/12" #form="ngForm" (ngSubmit)="onSubmit()">

    <div class="ml-[-320px] w-[1000px] flex flex-col items-center">
       <button routerLink="/orderhistory" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
       focus:ring-blue-300 font-medium rounded-lg m-2 text-sm px-5 py-2.5 text-center
       dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"> See all orders </button>
    
      <button routerLink="/additem"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
              focus:ring-blue-300 font-medium rounded-lg m-2 text-sm px-5 py-2.5 text-center
              dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Add Item
      </button>
    </div>
  </form>
  </div>
</mat-card>
