<mat-card class="max-w-7xl mx-auto bg-blue-100 p-6">
  <div class="flex flex-row">
    <form class="w-6/12" #form="ngForm" (ngSubmit)="onSubmit()">

    <div class="mb-6 flex flex-col items-center">
      <h1>Registrera dig här</h1>
      <label for="firstname" class="block m-2 text-sm font-medium text-gray-900 dark:text-white">Firstname</label>
      <input type="text" id="firstname" name="firstName"
             class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
           focus:border-blue-500 block w-1/3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
           dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required
             placeholder="Namn: ex. Kalle" [(ngModel)]="name">
            <label for="category" class="block m-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
      <input type="text" id="category" name="categoryItem"
             class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
              focus:border-blue-500 block w-1/3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required
               placeholder="Email: ex. Kalle.j@gmail.com" [(ngModel)]="email">
      <label for="description" class="block m-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
      <input type="password" id="description"  name="descriptionItem"
             class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
            focus:border-blue-500 block w-1/3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
            dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required
             placeholder="Skriv ditt lösenord här:" [(ngModel)]="password">
      <button [disabled]="form.invalid" type="submit" id="subButton"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
            focus:ring-blue-300 font-medium rounded-lg m-6 text-sm px-5 py-2.5 text-center
            dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Registrera
        </button>
      </div>
    </form>
  </div>
</mat-card>
