


<mat-card class="max-w-7xl mx-auto bg-blue-100">
  <div class="container mx-auto px-4 bg-blue-200 ">
    <div class="bg-white rounded-lg shadow-lg p-6 mt-4">
      <h1 class="text-2xl font-bold text-gray-900">Receipt</h1>
      <div class="my-4 bg-blue-100 rounded-xl p-2">
        <p class="text-gray-700 font-bold mb-2">Purchased From</p>
        <p class="text-gray-600">Sko Butiken</p>
        <p class="text-gray-600">1700 Solnavägen</p>
        <p class="text-gray-600">Stockholm, Solna 12345</p>
      </div>
      <div class="my-4 bg-blue-100 rounded-xl p-2">
        <p class="text-gray-700 font-bold mb-2">Purchased By</p>

        <p class="text-gray-600">{{firstName}}</p>

        <p class="text-gray-600">{{lastName}}</p>
        <p class="text-gray-600">{{address}} {{postalCode}}</p>
        <p class="text-gray-600"> {{email}}</p>
      </div>
      </div>

      <table class="w-full text-left table-collapse my-2">
        <thead>
        <tr>
          <th class="text-xs font-semibold w-96 m-2 text-gray-700 p-2 rounded-xl bg-blue-100">Product</th>
          <th class="w-1"> </th>
          <th class="text-xs font-semibold w-96 m-2 text-gray-700 p-2 rounded-xl bg-blue-100">Total</th>
        </tr>
        </thead>
        
          
        <tr *ngFor="let item of newArray"    >

        
          
          
          <td class="text-sm py-2 px-4 text-gray-700 border-r-2">{{item.name}} x {{item.quantity}}</td>
          <td class="text-sm px-2 text-gray-700 border-r-2"> </td>
          <td class="text-sm py-2 px-4 text-gray-700">{{item.price * item.quantity | currency}}</td>
        </tr>
        <tr>
        <td class="text-sm py-2 px-4 text-gray-700 border-r-2"> </td>
        <td class="text-sm px-2 text-gray-700 border-r-2"></td>
        <td class="text-sm py-2 px-4 text-gray-700">
          <div class="ml-[30rem] w-[150px] text-sm px-2 text-gray-700 border-2 rounded-xl">
            TOTAL: {{ getTotal(cart.items) | currency }}
          </div>
        </td>
        </tr>
       
      </table>
    </div>
</mat-card>
